:root {
  --bg-dark: #121213;
  --text-color-dark: #fff;
  --line-color-dark: #616a6e;
  --max-width: 540px;
  --bg-keyboard-dark: #818384;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  background-color: var(--bg-dark);
  color: var(--text-color-dark);
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 8px;
  font-size: 32px;
  border-bottom: 1px solid var(--line-color-dark);
}
.navbar svg {
  position: absolute;
  left: 20;
  fill: var(--text-color-dark);
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em auto 0px;
  max-width: var(--max-width);
  width: 100%;
  height: calc(100vh - 52px - 64px - 3px);
  /* border: 1px solid var(--line-color-dark); */
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.input_column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin: 4px;
  border: 1px solid var(--line-color-dark);
  transition: all 300ms ease-in-out;
}
.shake {
  animation: shake 100ms ease 0ms 2;
}
@keyframes shake {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.keyboard_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 515px);
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  /* border: 1px solid var(--line-color-dark); */
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  width: 30px;
  height: 60px;
  margin: 2px;
  cursor: pointer;
  color: var(--text-color-dark);
  background: var(--bg-keyboard-dark);
}
.keyboard_container .row:nth-child(3) .keyboard-key:first-child,
.keyboard_container .row:nth-child(3) .keyboard-key:last-child {
  width: fit-content;
}

.incorrect {
  background: #3a3a3c;
}
.wrong-position {
  background: #b59f3b;
}
.correct {
  background: #538d4e;
}

.instruction_container {
  display: flex;
  opacity: 0;
  height: 0px;
  z-index: -1;
  transform: translateY(50px);
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 24px;
  background: var(--bg-dark);
  position: absolute;
  transition: all 100ms ease;
}
.instruction_container header {
  color: var(--text-color-dark);
  position: relative;
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 24px;
  width: 100vw;
  max-width: var(--max-width);
}
.instruction_container header h1 {
  font-size: 1.5em;
}

.instruction_container svg {
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
  cursor: pointer;
  position: absolute;
  right: 24;
}
.instruction_container section {
  margin-top: 20px;
  max-width: var(--max-width);
}
.instruction_container p {
  margin: 8px 0;
}

.instruction_container .examples {
  margin: 20px 0;
  border-bottom: 1px solid var(--line-color-dark);
  border-top: 1px solid var(--line-color-dark);
}

.instruction_container .examples .example .row {
  justify-content: flex-start;
}

.slideIn {
  opacity: 1;
  transform: translateY(0);
  height: 100%;
  z-index: 1;
}
